@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --main-color: #59e3a7;
    --primary-color: #09192f;
    --secondary-color: #0a2140;
    --white-color: #fffffe;

    --secondary-white: #e9e9e9;
    --color-grey: #acb9c6;

    /* Sizes */
    --big-size: 55px;
    --medium-big-size: 24px;
    --medium-size: 20px;
    --medium-small-size: 18px;
    --small-size: 13px;

    --text-size: 22px;
    --card-text-size: 16px;
    --form-text-size: 18px;

    /* Weights */
    --regular: 300;
    --medium: 400;
    --bold: 700;

    /* Line height */
    --big: 71px;
    --medium: 36px;
    --small: 24px;
  }
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  list-style: none;
  text-decoration: none;
}

.writing-vertical {
  writing-mode: vertical-lr;
}

h1,
h2,
h3,
h6,
label,
span {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}
