@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --main-color: #59e3a7;
    --primary-color: #09192f;
    --secondary-color: #0a2140;
    --white-color: #fffffe;

    --secondary-white: #e9e9e9;
    --color-grey: #acb9c6;

    /* Sizes */
    --big-size: 80px;
    --medium-big-size: 30px;
    --medium-size: 25px;
    --medium-small-size: 20px;
    --small-size: 15px;

    --text-size: 22px;
    --card-text-size: 16px;
    --form-text-size: 18px;

    /* Weights */
    --regular: "300";
    --medium: "400";
    --bold: "700";

    /* Paddings */
    --header-hz-padding: 120px;
    --sidebars-hz-padding: 40px;
    --section-top-padding: 120px;
    --title-vl-padding: 80px;
  }
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  list-style: none;
  text-decoration: none;
}
